<h3 class="subheader">Afiliados</h3>
<hr />
<div class="row">
 <%= render :partial => "form_busqueda"%>	
</div>

<div class="row text-left">
  <%= page_entries_info @afiliados %>	
</div>

<div class="row" id="afiliadosList">
  <%= render :partial => "index", :locals => { :afiliados => @afiliados }%>
</div>

<div class="row">
  <%= paginate @afiliados %>
</div>
