<h3 class="subheader">Proveedor</h3>
<hr />
<%= simple_form_for @proveedor do |f| %>
<%= render :partial => 'form', :locals => { :f => f} %>
<div class="row">
	<div class="text-center">
      <%= link_to 'Cancelar', proveedores_path, :class => "small button" %>		
      <%= f.button :submit, "Guardar", :class => "small button" %>		
	</div>
</div>
<% end %>
