<h3 class="subheader">Proveedores</h3>
<hr />
<div class="row">
  <%= render :partial => "form_busqueda"%>	
</div>

<div class="row text-left">
  <%= page_entries_info @proveedores %>	
</div>

<div class="row" id="proveedoresList">
  <%= render :partial => "index", :locals => { :proveedores => @proveedores }%>
</div>

<div class="row">
  <%= paginate @proveedores %>
</div>



