<h3 class="subheader">Nuevo Usuario</h3>
<hr />
<%= simple_form_for @user do |f| %>
<%= render :partial =>'form', :locals => { :f => f } %>
<div class="row">
	<div class="text-center">
      <%= f.button :submit, :value => "Crear", :class => "small button" %>		
      <%= link_to 'Cancelar', users_path, :class => "small button" %>
	</div>
</div>
<% end %>