<h3 class="subheader">Medicamentos </h3>
<hr />
<div class="row">
  <%= render :partial => "form_busqueda"%>	
</div>

<div class="row text-left">
  <%= page_entries_info @medicamentos %>	
</div>

<div class="row" id="medicamentosList">
  <%= render :partial => "index", :locals => { :medicamentos => @medicamentos }%>
</div>

<div class="row">
  <%= paginate @medicamentos %>
</div>
