<h3 class="subheader">Dialisis </h3>
<hr />
<div class="row">
  <%= render :partial => "form_busqueda"%>	
</div>

<div class="row text-left">
  <%= page_entries_info @dialisis %>	
</div>

<div class="row" id="dialisisList">
  <%= render :partial => "index", :locals => { :dialisis => @dialisis }%>
</div>

<div class="row">
  <%= paginate @dialisis %>
</div>
