<h2>Login</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs row large-9">
    <div class="small-2 large-8 columns left">
       <%= f.input :email, required: false, autofocus: true %>
    </div>
    <div class="small-2 large-8 columns left">
       <%= f.input :password, required: false %>
    </div>   
  </div>

  <div class="form-actions row large-4">
    <%= f.button :submit, "Ingresar" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
