<h3 class="subheader">Buscar Afiliado</h3>
<hr />
<div class="row">
  <%= render :partial => "form_busqueda"%>
</div>

<div class="row text-left">

</div>

<div class="row" id="afiliadosList">
  <%= render :partial => "resultados"%>
</div>
