<% if @afiliado.blank? %>
   <h5>La búsqueda por número de documento: <%= @keyword%> no produjo resultados. </h5>
  <%= render :partial => "nueva_consulta" %>
<% else %>
  <h3 class="subheader">Resultado</h3>
  <div class="row" id="afiliadosList">
    <%= render :partial => "resultados"%>
   </div>
<% end %>
